@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import "elements.less";
@import "fonts.less";
@import "variables.less";
@import "header.less";
@import "pricing.less";
@import "quote.less";

/*
|--------------------------------------------------------------------------
| Basic Attributes
|--------------------------------------------------------------------------
*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	// Setting background color to @dark because that's the color of the
	// footer. If the screen is huge as shit, then the footer will just
	// look like it's big instead of having a bunch of extra space.
	background-color: @dark;
}

* {
	outline: none !important;
	.lato();

	&:focus,
	&:hover,
	&:active {
		outline: none !important;
	}
}

a {
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

/*
|--------------------------------------------------------------------------
| Changes
|--------------------------------------------------------------------------
*/

.img-responsive {
	margin: auto;
}

/*
|--------------------------------------------------------------------------
| Contact
|--------------------------------------------------------------------------
*/

.contact {
	background-color: @light;
	padding: 100px 0;

	h1 {
		@media(max-width: @sm) {
			font-size: 24px;
		}
	}

	h3 {
		a {
			color: @dark;
		}

		@media(max-width: @sm) {
			font-size: 18px;
		}
	}

	.square {
		border: 2px solid @dark;
		display: inline-block;
		cursor: pointer;
		margin: 10px;
		.rounded(100%);

		span {
			display: table;
			width: 100px;
			height: 100px;

			i {
				width: 100%;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				font-size: 32px;
			}
		}
	}
}

.map {
	#map-canvas {
		width: 100%;
		height: 400px;
	}
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
	background-color: @dark;
	color: @gray;
	padding: 15px 0;
	font-weight: 300;
}
