@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import "elements.less";
@import "fonts.less";
@import "variables.less";
@import "header.less";
@import "pricing.less";

/*
|--------------------------------------------------------------------------
| Basic Attributes
|--------------------------------------------------------------------------
*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	// Setting background color to @dark because that's the color of the
	// footer. If the screen is huge as shit, then the footer will just
	// look like it's big instead of having a bunch of extra space.
	background-color: @dark;
}

* {
	outline: none !important;
	.lato();

	&:focus,
	&:hover,
	&:active {
		outline: none !important;
	}
}

a {
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

/*
|--------------------------------------------------------------------------
| Changes
|--------------------------------------------------------------------------
*/

.img-responsive {
	margin: auto;
}

/*
|--------------------------------------------------------------------------
| Quote
|--------------------------------------------------------------------------
*/

.quote {
	background-image: url("@{resources}/quote.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;

	@media(max-width: @sm) {
		height: 200px;
		background-attachment: scroll;
	}

	.cover {
		background-color: fade(@accelerate-blue, 80%);
		height: 100%;
		width: 100%;
		display: table;

		h3 {
			margin: 0;
			display: table-cell;
			height: 100%;
			width: 100%;
			vertical-align: middle;
			text-align: center;
			color: @light;
			font-size: 32px;

			@media(max-width: @md) {
				font-size: 20px;
			}

			@media(max-width: @sm) {
				font-size: 15px;
			}
		}
	}
}

/*
|--------------------------------------------------------------------------
| Contact
|--------------------------------------------------------------------------
*/

.contact {
	background-color: @light;
	padding: 100px 25px;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
	background-color: @dark;
	color: @gray;
	padding: 15px 0;
	font-weight: 300;
}
