/*
|--------------------------------------------------------------------------
| Brand Colors
|--------------------------------------------------------------------------
*/

@accelerate-blue:         #3279b2;
@accelerate-orange-dark:  #bb6026;
@accelerate-orange-light: #d37744;

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

@dark:  #333333;
@light: #f6f6f6;

@gray:  darken(@light, 5%);

/*
|--------------------------------------------------------------------------
| Sizes
|--------------------------------------------------------------------------
*/

@md: 768px;
@sm: 480px;

/*
|--------------------------------------------------------------------------
| Folders
|--------------------------------------------------------------------------
*/

@resources: "../img/resources";
@logos:     "../img/logos";
